:root {
  --dark-bg: rgb(33, 37, 41) !important;
  --dark-grey: rgb(22, 25, 28) !important;
  --dark-text: rgba(255,255,255,0.55) !important;
}

html {
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}
.video-controls {
  transform: scale(0.5);
  z-index: 500 !important;
}

#dark {
  background-color: var(--dark-bg);
  z-index: -100 !important;
}
#dark h1, label {
  color: var(--dark-text);
}
#dark hr {
  background-color: var(--dark-text);
}
#dark #navbar {
  border-bottom: 1px solid var(--dark-text);
}
.dropdown-menu {
  left: -5.5rem !important;
}
#dark .dropdown-menu {
  background-color: var(--dark-grey);
}
#dark .dropdown-item {
  color: var(--dark-text);
}
#dark .dropdown-item:hover {
  background-color: rgb(48, 55, 61);
}
.card {
  background-color: rgba(37, 108, 207, 0.216);
}

.home-card {
  transform: scale(1) !important;
}
.home-card:hover {
  transform: scale(1) !important;
  cursor: default;
}

.home-btn-card {
  background-color: transparent;
  cursor: pointer;
  height: 150px;
  width: 150px;
}
.home-btn-card:hover {
  background-color: rgba(32, 79, 179, 0.434);
}

.star {
  transform: rotate(0deg) !important;
  transition: 0.2s !important;
}
.star:hover {
  transform: rotate(90deg) !important;
}

.movie-card {
  margin: auto !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  transform: scale(1) !important;
  transition: all 0.3s !important;
}

#dark .movie-card {
  background-color: rgba(69, 69, 69, 0.655) !important;
  color: var(--dark-text);
}

.movie-card:hover {
  transform: scale(1.03) !important;
}
.movie-img {
  border-radius: 0px !important;
}
.saved-movie-wrapper .movie-card {
  margin: 0;
  height: 100%;
  max-width: 26%;
  background-color: rgba(224, 224, 224, 0.626) !important;
  transform: scale(1) !important;
  transition: all 0.2s !important;
}
.saved-movie-wrapper .movie-card:hover {
  background-color: rgba(239, 239, 239, 0.817) !important;
}

.comments-form {
  background-color: rgba(224, 224, 224, 0.626);
  transition: all 0.2s !important;
}
.comments-form:hover {
  background-color: rgba(239, 239, 239, 0.817);
}

.comments-wrapper .comment-card {
  background-color: rgba(239, 239, 239, 0.817);
  transition: all 0.2s !important;
}
.comments-wrapper .comment-card:hover {
  background-color: rgba(239, 239, 239, 0.883);
  transform: scale(1) !important;
}

.comment-delete-btn {
  color: rgb(88, 88, 88);
  background-color: transparent;
  border-radius: 1rem !important;
  transition: 0.15s !important;
}
.comment-delete-btn:hover {
  background-color: rgba(164, 133, 133, 0.5);
  border-radius: 1rem !important;
  color: rgb(231, 231, 231);
  background-color: rgba(197, 40, 40, 0.5);
}
.comment-delete-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
  background-color: rgba(171, 9, 9, 0.611);
  border: 1px solid rgb(83, 83, 83) !important;
}

@media screen and (max-width: 700px) {
  .saved-movie-wrapper {
    flex-direction: column !important;
    align-items: center !important;
  }
  .saved-movie-wrapper .card {
    max-width: 100% !important;
  }
}
