html {
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}
.video-controls {
  transform: scale(0.5);
}

.card {
  background-color: rgba(37, 108, 207, 0.216);
  transform: scale(1) !important;
  transition: all 0.2s !important;
}

.card:hover {
  background-color: rgba(10, 119, 73, 0.224);
  transform: scale(1.05) !important;
}
.home-card {
  transform: scale(1) !important;
}
.home-card:hover {
  transform: scale(1) !important;
  cursor: default;
}

.home-btn-card {
  background-color: transparent;
  cursor: pointer;
  height: 150px;
  width: 150px;
}
.home-btn-card:hover {
  background-color: rgba(32, 79, 179, 0.434);
}

.star {
  transform: rotate(0deg) !important;
  transition: 0.2s !important;
}
.star:hover {
  transform: rotate(90deg) !important;
}

.movie-card {
  margin: auto;
}

.saved-movie-wrapper .movie-card {
  margin: 0;
  height: 100%;
  max-width: 26%;
  background-color: rgba(224, 224, 224, 0.626) !important;
  transform: scale(1) !important;
  transition: all 0.2s !important;
}
.saved-movie-wrapper .movie-card:hover {
  background-color: rgba(239, 239, 239, 0.817) !important;
  transform: scale(1) !important;
}

.comments-form {
  background-color: rgba(224, 224, 224, 0.626);
  transition: all 0.2s !important;
}
.comments-form:hover {
  background-color: rgba(239, 239, 239, 0.817);
}

.comments-wrapper .comment-card {
  background-color: rgba(239, 239, 239, 0.817);
  transition: all 0.2s !important;
}
.comments-wrapper .comment-card:hover {
  background-color: rgba(239, 239, 239, 0.883);
  transform: scale(1) !important;
}

@media screen and (max-width: 700px) {
  .saved-movie-wrapper {
    flex-direction: column !important;
    align-items: center !important;
  }
  .saved-movie-wrapper .card {
    max-width: 100% !important;
  }
}
